<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ app.title }}">
    <meta name="author" content="{{ app.description }}">

    <title>{{ app.title }}</title>

    <!-- Bootstrap core CSS -->
    <link href="assets/css/bootstrap.css" rel="stylesheet">

    <link href="/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">

    <link href="/assets/css/custom.css" rel="stylesheet">

    <script>
        window.app = {{ appjson|safe }};
    </script>
</head>

<body>

<nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">{{ app.title }}</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav pull-right">
                <li><a href="/#!/about">About</a>
                </li>
                <li><a href="/#!/meetups">Meetups</a>
                </li>
                <li><a href="/#!/contact">Contact</a>
                </li>
                {% if user %}
                <li><a href="/logout">Logout</a>
                </li>
                {% else %}
                <li><a href="/auth/meetup">Login via Meetup</a>
                </li>
                {% endif %}
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<div class="container">

    <div ng-view></div>

    <hr>

    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>{{ app.footer }}</p>
            </div>
        </div>
    </footer>

</div>
<!-- /.container -->

<!-- JavaScript -->
<script src="/lib/jquery/dist/jquery.min.js"></script>
<script src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>

<script src="/lib/angular/angular.min.js"></script>
<script src="/lib/angular-route/angular-route.js"></script>
<script src="/lib/angular-resource/angular-resource.min.js"></script>
<script src="/lib/angular-ui-utils/ui-utils.min.js"></script>

<script src="/dist/app.min.js"></script>

</body>

</html>